<div style="text-align: right;">
<a href="https://gitlab.com/materials-modeling/vcsgc-lammps" target="_blank">gitlab/vcsgc-lammps</a>
| <a href="https://materialsmodeling.org/software" target="_blank">materialsmodeling.org/software</a>
| <a href={{ pathto('genindex') }}>index</a>
| <a href={{ pathto('py-modindex') }}>modules</a>
</div>
